{% load static %}
<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}titulo_default{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}?{% now "U" %}">
    {% block styles %}{% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">Hidden brand</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                {% block link0 %}{% endblock %}
              </li>
              <li clas  s="nav-item">
                {% block link1 %}{% endblock %}
              </li>
              <li class="nav-item">
                {% block link2 %}{% endblock %}
              </li>
            </ul>
            <nav class="salir">
              <button class="btn btn-outline-success my-2 my-sm-0"><a href="{% url 'desconectar' %}"><img src="{% static 'images/icons8-salida-30.png' %}" alt=""></a></button>
            </nav>
          </div>
        </div>
      </nav>
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
      
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>