{% extends 'base/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}Medico{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/medico_receta_medica.css' %}?{% now 'U' %}">
{% endblock %}

{% block link0 %}
<a class="nav-link active" aria-current="page" href="{% url 'medico_home' %}">Inicio</a>
{% endblock %}

{% block link2 %}
<a class="nav-link active" aria-current="page" href="{% url 'medico_receta_medica' %}">Dar Receta medica</a>
{% endblock %}

{% block main %}

  <div class='formulario_consulta'>
    <div class='messages'>
      {% if messages %}
        <div class = 'mensaje'>
        {% for message in messages %}
          {{ message }}
        {% endfor %} 
        </div>
      {% endif %}
    </div>
    <form method='post' action='{% url 'medico_receta_medica' %}'>
      {% csrf_token %}
      <div class = 'fila'>
        {{ form.prescripcion_receta|as_crispy_field  }}
      </div>
      <div class = 'fila'>
        {{ form.fecha_receta|as_crispy_field  }}
      </div>
      <div class = 'fila'>
        {{ form.cantidad_medicamentos|as_crispy_field  }}
      </div>
      <div class = 'fila'>
        {{ form.id_personal|as_crispy_field  }}
      </div>
      <div class = 'fila'>
        {{ form.id_medicamento|as_crispy_field  }}
      </div>
      <div class = 'fila'>
        {{ form.id_paciente|as_crispy_field  }}
      </div>
      <div class = 'boton'>
        <input type='submit' class='btn btn-primary' value='Registrar Receta'>
      </div>
      <div class = 'boton'>
        <a href="{% url 'medico_home' %}" class='btn btn-danger'>Cancelar Receta</a>
      </div>
    </form>
  </div>  
{% endblock %}