{% extends 'base/base.html' %}

{% load static %}

{% block titulo %}Medico{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/medico_home.css' %}?{% now 'U' %}">
{% endblock %}

{% block link0 %}
<a class="nav-link active" aria-current="page" href="{% url 'medico_home' %}">Inicio</a>
{% endblock %}

{% block link2 %}
<a class="nav-link active" aria-current="page" href="{% url 'medico_receta_medica' %}">Dar Receta medica</a>
{% endblock %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

{% block main %}

  <div class='box_paciente_med'>
    
    <div class='buscador_paciente'>
      <form class="d-flex" method='GET' action='{% url 'medico_home' %}'>
        <input name='buscador_paciente' type='search' placeholder='Ingrese rut del paciente'>
        <button class="btn btn-outline-success" type="submit">Buscar Paciente</button>
      </form>
    </div>

    {% if verif %}
      {% for p in paciente %}

      <div class='img_paciente'>
        <img src='{{ p.img_paciente.url }}' width='100%' height='100%'>
      </div>

      <div class='informacion_paciente'>
        <h4>Run paciente: {{ p.run_paciente }}</h4>
        <p>Dv paciente: {{ p.dv_paciente }}</p>
        <p>Nombre paciente: {{ p.nombre_paciente }}</p>
        <p>Apellido paciente: {{ p.apellido_paciente }}</p>
        <p>Edad paciente: {{ p.edad_paciente }}</p>
        <p>Sexo paciente: {{ p.sexo_paciente }}</p>
        <p>Direccion paciente: {{ p.direccion_paciente }}</p>
        <p>Mail paciente: {{ p.mail_paciente }}</p>
        <p>Numero telefonico: {{ p.numero_telefonico }}</p>
      </div>

      {% endfor %}
    {% else %}

      <div class='img_paciente'>
        <p>No se ha encontrado imagen</p>
      </div>

      <div class='informacion_paciente'>
        <p>No se ha encontrado informacion con respecto al paciente solicitado</p>
      </div>

    {% endif %}
  </div>
    
  <div class='box_stock'>

    <div class='informacion_stock'>
      {% for s in medicamento %}
      <div class = 'caja_med'>
        <h3>{{ s.nombre_medicamento }}</h3>
        <p>{{ s.fecha_elab_medicamento }}</p>
        <p>{{ s.fecha_venc_medicamento }}</p>
        <p>{{ s.cantidad_medicamento }}</p>
      </div>
      {% endfor %}
    </div>

  </div>  

  <div class='hacer_receta_medica'>
    <div class='interior_envio'>
      <a href="{% url 'medico_receta_medica' %}">Receta Medica</a>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  {% endblock %}
