{% extends 'base/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}Medico{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/medico_receta_medica.css' %}?{% now 'U' %}">
{% endblock %}

{% block link0 %}
<a class="nav-link active" aria-current="page" href="{% url 'medico_home' %}">Inicio</a>
{% endblock %}

{% block link2 %}
<a class="nav-link active" aria-current="page" href="{% url 'medico_receta_medica' %}">Dar Receta medica</a>
{% endblock %}

{% block main %}

  <div class='formulario_consulta'>
    <form method='post' action='{% url 'medico_receta_medica' %}'>
      {% csrf_token %}
      <table>
        {{ form|crispy }}
      </table>
      <input type='submit' class='btn btn-primary' value='Registrar Receta'>
    </form>
  </div>

  <div class="box_opciones_receta_medica">
    <div class='cancelar_receta'>
      <a href="{% url 'medico_home' %}">Cancelar Receta</a>
    </div>
  </div>
  
{% endblock %}

{% load static %}