{% extends 'base/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}Farmaceutico{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/farm_revisar_receta.css' %}?{% now 'U' %}">
{% endblock %}

{% block link0 %}
<a class="nav-link active" aria-current="page" href="{% url 'farm_home' %}">Inicio</a>
{% endblock %}

{% block link1 %}
<a class="nav-link active" aria-current="page" href="{% url 'farm_modificar_stock' %}">Modificar stock</a>
{% endblock %}

{% block link2 %}
<a class="nav-link active" aria-current="page" href="{% url 'farm_revisar_receta' %}">Recetas medicas</a>
{% endblock %}

{% block main %}

  <div class='buscar_receta'>
    <form class="d-flex" method='GET' action='{% url 'farm_revisar_receta' %}'>
      {% csrf_token %}
      <input name='buscador_receta' type='search' placeholder='Ingrese codigo de su receta'>
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
  </div>
  
  {% if verif %}
    {% for r in receta %}

    <div class='receta_medica'>
      <div class = 'box_datos'>
        <h4>Id receta: {{ r.id }}</h4>
        <p>Fecha receta: {{ r.fecha_receta }}</p>
        <p>Prescripcion: {{ r.prescripcion_receta }}</p>
        <p>Medicamento: {{ r.id_medicamento.nombre_medicamento }}</p>
      </div>
      <div class = 'box_datos'>
        <h5>Datos Paciente</h5>
        <p>Nombre paciente: {{ r.id_paciente.nombre_paciente }}</p>
        <p>Run paciente: {{ r.id_paciente.run_paciente }} - {{ r.id_paciente.dv_paciente }}</p>
      </div>
      <div class = 'box_datos'>
        <h5>Datos personal</h5>
        <p>Nombre personal: {{ r.id_personal.nombre_personal }}</p>
        <p>Run personal: {{ r.id_personal.run_personal }} - {{r.id_personal.dv_personal}}</p>
      </div>
    </div>

    <div class='box_medicamentos'>
      {% if verif2 %}
      <div class='medicamentos_solicitados'>
        <div class='messages'>
          {% if messages %}
            <div class = 'mensaje'>
            {% for message in messages %}
              {{ message }}
            {% endfor %} 
            </div>
          {% endif %}
        </div>
        <h2>{{ r.id_medicamento.nombre_medicamento }}</h2>
        <p>Id medicamento: {{ r.id_medicamento.id }}</p>
        <p>Run paciente: {{ r.id_paciente.run_paciente }}
        <p>Cantidad actual: {{ r.id_medicamento.cantidad_medicamento }}
        <p>Cantidad a entregar: {{ r.cantidad_medicamentos }}</p>
        <form method='GET' action=''>
          {% csrf_token %}
          <input name='id_receta_oculta' value={{ r.id }} type='hidden' placeholder='Ingrese codigo de su receta'>
          <button class="btn btn-outline-success" type="submit">Entregar Medicamento</button>
        </form>
      </div>
      {% else %}
      <div class='medicamentos_solicitados'>
        <p>Ya fueron entregados los medicamentos</p>
      </div>
      {% endif %}
    </div>
    {% endfor %}

  {% else %}

  <div class='receta_medica'>
    <div class='interior_receta'>
      <p>No se ha encontrado la receta solicitad</p>
    </div>
  </div>

  <div class='box_medicamentos'>

    <div class='medicamentos_solicitados'>
      <p>No se han encontrado los medicamentos indicados en la receta</p>
    </div>

  </div>
  {% endif %}

  <div class="box_opciones_receta">
    <div class='agendar_entrega'>
      <a href="#">Agendar Entrega</a>
    </div>
  </div>

{% endblock %}