{% extends 'base/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}Farmaceutico{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/farm_revisar_receta.css' %}?{% now 'U' %}">
{% endblock %}

{% block link0 %}
<a class="nav-link active" aria-current="page" href="{% url 'farm_home' %}">Inicio</a>
{% endblock %}

{% block link1 %}
<a class="nav-link active" aria-current="page" href="{% url 'farm_modificar_stock' %}">Modificar stock</a>
{% endblock %}

{% block link2 %}
<a class="nav-link active" aria-current="page" href="{% url 'farm_revisar_receta' %}">Recetas medicas</a>
{% endblock %}

{% block main %}

  <div class='buscar_receta'>
    <form class="d-flex" method='GET' action='{% url 'farm_revisar_receta' %}'>
      {% csrf_token %}
      <input name='buscador_receta' type='search' placeholder='Ingrese codigo de su receta'>
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
  </div>
  
  {% if verif %}
    {% for r in receta %}

    <div class='receta_medica'>
      <h2>id receta: {{ r.id }}</h2>
      <h2>fecha receta: {{ r.fecha_receta }}</h2>
      <h2>prescripcion: {{ r.prescripcion_receta }}</h2>
      <h2>nombre paciente: {{ r.id_paciente.nombre_paciente }}</h2>
      <h2>run paciente: {{ r.id_paciente.run_paciente }}</h2>
      <h2>nombre personal: {{ r.id_personal.nombre_personal }}</h2>
      <h2>run personal: {{ r.id_personal.run_personal }}</h2>
    </div>

    <div class='box_medicamentos'>

      <div class='medicamentos_solicitados'>
          {% for f in ficha %}
          <h2>{{ f.id_receta.id_medicamento.nombre_medicamento }}</h2>
          <p>id medicamento: {{ f.id_receta.id_medicamento.id }}</p>
          <p>run paciente: {{ f.id_paciente.run_paciente }}
          <p>cantidad actual: {{ f.id_receta.id_medicamento.cantidad_medicamento }}
          <p>cantidad a entregar: {{ f.id_receta.cantidad_medicamentos }}</p>
          <form method='GET' action=''>
            {% csrf_token %}
            <input name='ficha_oculta' value={{ f.id }} type='hidden' placeholder='Ingrese codigo de su receta'>
            <button class="btn btn-outline-success" type="submit">Entregar</button>
          </form>
          {% endfor %}
      </div>
    </div>
    {% endfor %}

  {% else %}

  <div class='receta_medica'>
    <p>No se ha encontrado la receta solicitad</p>
  </div>

  <div class='box_medicamentos'>

    <div class='medicamentos_solicitados'>
      <p>No se han encontrado los medicamentos indicados en la receta</p>
    </div>

  </div>
  {% endif %}

  <div class="box_opciones_receta">
    <div class='agendar_entrega'>
      <a href="#">Agendar Entrega</a>
    </div>
  </div>

{% endblock %}