{% extends 'base/base.html' %}

{% load static %}

{% block titulo %}Farmaceutico{% endblock %}

{% block main %}
  <div class='receta_medica'>

  </div>

  <div class='buscar_receta'>

  </div>

  <div class='box_medicamentos'>
    <div class='medicamentos_solicitados'>

    </div>
    <div class='disponibilidad_medicamentos'>

    </div>
  </div>

  <div class="box_opciones_receta">
    <div class='agendar_entrega'>

    </div>
    
    <div class='dar_medicamento'>

    </div>
  </div>
{% endblock %}