.box_formulario {
    height: 80%;
    width: 20%;
    border: solid #361313;
    background-color: #f0f0f0;
    margin: auto;
    margin-top: 4%;
    padding: 0%;
    border-radius: 5%;
}

.messages {
    padding: 0%;
    margin: auto;
    background-color: #f0f0f0;
    text-align: center;
    border-radius: 5%;
}

.mensaje {
    width: 100%;
    list-style: none;
    background-color: #ffd700;
    color: black;
    text-align: center;
    border-radius: 10%;
    margin-right: 10px;
    
}

.fila {
    width: 100%;
    text-align: center;
}

.boton {
    text-align: center;
}

main {
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    padding-top: .5%;
    padding-bottom: .5%;
    background-color: #44bba4;
    background-image: url("../images/clean-medical-background_53876-116875.jpg");
    background-size: cover;
    background-position: center;
}