.box_formulario {
    height: 90%;
    width: 50%;
    border: solid black;
    background-color: whitesmoke;
    margin: auto;
    margin-top: 2%;
    padding: 0%;
}

.messages {
    display: flexbox;
    list-style: none;
    background-color: gold;
    color: black;
    text-align: center;
}