.box_formulario {
    height: 60%;
    width: 20%;
    border: solid rgb(54, 19, 19);
    background-color: rgba(245, 245, 245, 0.753);
    margin: auto;
    margin-top: 6%;
    padding: 0%;
}

.messages {
    display: flexbox;
    list-style: none;
    background-color: gold;
    color: black;
    text-align: center;
}